* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

header {
    height: 20vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/*Pie de Página*/
footer {

    height: 15vh;
    padding-top: 15px;
    padding-bottom: 15px;    
    color: black;
    text-align: center;
    background-color: #7280ed;
    font-size: 0.9rem;
    font-weight: 700;
}

/* Cabecera*/

nav {
    text-align: center;
    color: black;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 0;
}

nav ul li::before {
    content: " · ";
    width: 10px;
}

nav ul li:first-child::before {
    content: "";
}

nav ul li a {
    color: inherit;
    border: none;
}

nav ul li a:hover {
    border: none;
}

a {
    color: #7280ed;
    text-decoration: none;
}

/*Index.html*/

.home{
    background-image: url(../img/gallo-azul.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    backdrop-filter: blur(3px);
}

.home main {
    padding-top: 10vh;
    height: 65vh;
}

.home footer {
    background-color: transparent;
}

.home h1 {
    font-size: 3rem;
    line-height: 1;
}

.home a {
    color: inherit;
    border: none;
}

.home a:hover {
    border: none;
    text-decoration: underline;
}

.home nav ul {
    text-align: right;
    padding-left: 0;
    margin-left: 0;
}

.home nav ul li {
    font-size: 1.1rem;
}

/*Páginas interiores*/

h2{
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

p{
    padding-bottom: 10px;
}

.tit {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -4px;
    color: #6374FC;
}

.tit span {
    color: black;
    letter-spacing: normal;
}

nav li.active {
    font-size: 1.4rem;
    color: #6374FC;
}

/*presentacion.html*/

blockquote{
    padding-bottom: 10px;
    background-color: #eeecfd;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}

figcaption{
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

figure{
    text-align: center;
}

iframe {
    width:  100%;
    height: 270px;
}

img{
    width:  90%;
    height: 200px;
    padding-top: 10px;    
}

/*eventos.html*/
#listadoEventos ul{
    list-style-type: square;
    text-align: center;
    padding-bottom: 15px;
}

#listadoEventos ul li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
}

#listadoEventos a {
    color: #7280ed;
    text-decoration: none;
}

#listadoEventos a:hover {
    border: none;
    text-decoration: underline;
}



/*ss.html*/

.imgSS{

    width:  100%;
    height: 600px; 
    padding-top: 10px;
}

/*enlaces.html*/

.biblio {
    list-style-type: circle;
    margin-left: 5%;
    text-align: left;
}

.biblio ul {
    list-style-image: none;
    font-size: 1rem; 
    padding-left: 0;
}


/*Modificaciones de tamaños para Tablet*/

@media (min-width: 768px) {
   
    .container {
        max-width: 80%;
    }

    iframe{
        height: 270px;
    }

    figcaption{
        font-size: 0.8rem;
    }

    img{
        height: 350px;    
    }

    .imgSS{
        height: 700px; 
    }
}

/*Modificaciones de tamaños para Escritorio*/  
@media screen and (min-width: 992px) {

    .home h1 {
        font-size: 4rem;
    }

    .home h2{
        font-size: 1.5rem;
    }

    .container {
        width: 80%;
    }

    iframe{
        width: 60%;
        height: 400px;
    }

    figcaption{
        font-size: 0.9rem;
        text-align: center;
    }

    img{
        width: 80%;
        height: 450px;    
    }

    .imgSS{
        width: 40%;
        height: 650px; 
    }

}